
alias be='bundle exec'
alias bep='bundle exec puma -C config/puma.rb --debug -v --redirect-stderr puma.stderr --redirect-stdout puma.stdout  spec/rackup/bind.ru'


[[ -f .envrc.local ]] && source .envrc.local
