!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
*.stderr
*.stdout
.byebug_history
.idea/
.rspec_status
.ruby-version
/.bundle
**/.bundle
/.bundle/
/.yardoc
/_yardoc/
**/config/master.key
/coverage/
/doc/
/log/.keep
/pkg/
/public/assets
/spec/reports/
**/tmp/
/tmp/*
/tmp/pids/*
/Gemfile
/Gemfile.lock
**/.DS_Store
.envrc.local
