name: Ruby

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: [ "3.0.0", "2.7.2" ]
    - name: Install dependencie
      run: |
        gem install bundler -v 2.2.4
        bundle install
    - name: Run Specs
      run: |
        bundle exec rspec
    - name: Run Rubocop
      run: |
        bundle exec rubocop